GEMINI_API_KEY=
VITE_SUPABASE_URL=https://zcsmbemzgqhdbsglgjqc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpjc21iZW16Z3FoZGJzZ2xnanFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MjAxMzYsImV4cCI6MjA4ODI5NjEzNn0.3hj_ERLFbBRR0ZUxZJepgU8IIOPhwrmS0vTPk0yiBIM
